/node_modules
/public/hot
/public/storage
/storage/app/app_files_public
/storage/*.key
/vendor
.env
.env_export
.env.prod
.env.backup
.phpunit.result.cache

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.vscode

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Log files.
/public/php_errors.log

# Notes files.
notes.txt
todo.txt
